*~
*.swp
*.swo
*.pyc
*.sqlite3
*.db
*.csv
.DS_Store
.idea/
media/

*/*.pyc
*/migrations/*

tabmgnt/local_config
tabmgnt/local_config.py



node_modules/
*/node_modules/
*/typings/
*/nmp-debug*
*/.idea/
*/bower_components/
*/dist
*/tmp

# IDEs and editors
*/.idea
*/.project
*/.classpath
*/*.launch
*/.settings/

# misc
*/.sass-cache
*/connect.lock
*/coverage/*
*/libpeerconnection.log
*/npm-debug.log
*/testem.log

# e2e
*/e2e/*.js
*/e2e/*.map

#System Files
*/.DS_Store
*/Thumbs.db

tabmgnt/local_settings.py
