<div class="row" style="margin-top: 4%">
    <h1 class="titleHeading1">Enter your email address</h1>

    <div class="col-md-offset-2 col-md-8">
        <div class="well bs-component">
            <form name="forgotPasswordForm" id="forgotPasswordForm" method="post">
                <div class="form-group label-floating" show-errors>
                    <label class="control-label" for="emailAddress">Email Address</label>
                    <input class="form-control" id="emailAddress" name="emailAddress" ng-model="formData.emailAddress"
                           type="email" required>

                    <p class="help-block" ng-if="forgotPasswordForm.emailAddress.$error.required">Email address cannot
                        be left
                        blank.</p>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="javascript:void(0)" ng-click="forgotPassword(forgotPasswordForm)"
                               class="btn btn-raised btn-primary btn-block">Submit</a>
                        </div>
                        <div class="col-md-6">
                            <a href="javascript:void(0)" ng-click="resetForgotPasswordForm()"
                               class="btn btn-raised btn-default btn-block">Reset</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{formData}}