<div class="row" style="margin-top: 4%">
    <h1 class="titleHeading1">Login to get started with Meedget</h1>

    <div class="col-md-offset-2 col-md-8">
        <div class="well bs-component">
            <div class="col-md-offset-2">
                <a href="javascript:void(0)" fb-login class="btn btn-facebook btn-raised"><i class="fa fa-facebook"></i>&nbsp;&nbsp;Login
                    with Facebook</a>
                <a href="javascript:void(0)" g-login class="btn btn-google btn-raised"><i class="fa fa-google"></i>&nbsp;&nbsp;Login
                    with Google</a>
            </div>
            <form name="loginForm" id="loginForm" method="post">
                <div class="form-group label-floating" show-errors>
                    <label class="control-label" for="emailAddress">Email Address</label>
                    <input class="form-control" id="emailAddress" name="emailAddress" ng-model="formData.emailAddress"
                           type="email" required>

                    <p class="help-block" ng-if="loginForm.emailAddress.$error.required">Email address cannot be left
                        blank.</p>
                </div>

                <div class="form-group label-floating" show-errors>
                    <label class="control-label" for="password">Password</label>
                    <input class="form-control" id="password" name="password" type="password"
                           ng-model="formData.password" required>

                    <p class="help-block" ng-if="loginForm.password.$error.required">Password cannot be left
                        blank.</p>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="javascript:void(0)" ng-click="loginUser(loginForm)"
                               class="btn btn-raised btn-primary btn-block">Login</a>
                        </div>
                        <div class="col-md-6">
                            <a href="javascript:void(0)" ng-click="resetLoginForm()"
                               class="btn btn-raised btn-default btn-block">Reset</a>
                        </div>
                        <div class="col-md-12">
                            <a href="events.html#/forgotPassword" class="pull-right btn">Forgot Password?</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>