<div class="row" style="margin-top: 4%">
    <h1 class="titleHeading1">Thanks for checking out Meedget!!!</h1>

    <div class="col-md-offset-2 col-md-8">
        <div class="well bs-component">
            <div class="row">
                <div class="col-md-6">
                    <a href="events.html#/login" class="btn btn-primary btn-block btn-raised"><i
                            class="material-icons">system_update_alt</i> Login</a>
                </div>
                <div class="col-md-6">
                    <a href="index.html" class="btn btn-info btn-block btn-raised"><i class="material-icons">home</i>
                        Home</a>
                </div>
            </div>
        </div>
    </div>
</div>