<div class="row" style="margin-top: 4%">
    <h1 class="titleHeading1">Register to get started with Meedget</h1>

    <div class="col-md-offset-2 col-md-8">
        <div class="well bs-component">
            <div class="col-md-offset-2">
                <a href="javascript:void(0)" fb-login class="btn btn-facebook btn-raised"><i class="fa fa-facebook"></i>&nbsp;&nbsp;Register
                    with Facebook</a>
                <a href="javascript:void(0)" g-login class="btn btn-google btn-raised"><i class="fa fa-google"></i>&nbsp;&nbsp;Register
                    with Google</a>
            </div>
            <form name="registerForm" id="registerForm" method="post">
                <div class="form-group label-floating" show-errors>
                    <label class="control-label" for="firstName">First Name</label>
                    <input class="form-control" id="firstName" name="firstName" ng-model="formData.firstName"
                           type="text" required>

                    <p class="help-block" ng-if="registerForm.firstName.$error.required">First Name cannot be left
                        blank.</p>
                </div>

                <div class="form-group label-floating" show-errors>
                    <label class="control-label" for="lastName">Last Name</label>
                    <input class="form-control" id="lastName" name="lastName" type="text" ng-model="formData.lastName"
                           required>

                    <p class="help-block" ng-if="registerForm.lastName.$error.required">Last Name cannot be left
                        blank.</p>
                </div>

                <div class="form-group label-floating" show-errors>
                    <label class="control-label" for="emailAddress">Email Address</label>
                    <input class="form-control" id="emailAddress" name="emailAddress" ng-model="formData.emailAddress"
                           type="email" value="{{formData.emailAddress}}" ng-readonly="formData.guestUserId" required
                           autofocus>

                    <p class="help-block" ng-if="registerForm.emailAddress.$error.required">Email Address cannot be left
                        blank.</p>
                </div>

                <div class="form-group label-floating" show-errors>
                    <label class="control-label" for="password">Password</label>
                    <input class="form-control" id="password" name="password" ng-model="formData.password"
                           type="password" required>

                    <p class="help-block" ng-if="registerForm.password.$error.required">Password cannot be left
                        blank.</p>
                </div>

                <div class="form-group label-floating" show-errors>
                    <label class="control-label" for="confirmPassword">Confirm Password</label>
                    <input class="form-control" id="confirmPassword" name="confirmPassword" type="password"
                           ng-model="formData.confirmPassword" required>

                    <p class="help-block" ng-if="registerForm.confirmPassword.$error.required">Confirm Password cannot
                        be left blank.</p>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="javascript:void(0)" ng-click="registerUser(registerForm)"
                               class="btn btn-raised btn-primary btn-block">Register</a>
                        </div>
                        <div class="col-md-6">
                            <a href="javascript:void(0)" ng-click="resetRegisterForm()"
                               class="btn btn-raised btn-default btn-block">Reset</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>