<div class="row" style="margin-top: 4%">
    <h1 class="titleHeading1">Reset Password</h1>

    <div class="col-md-offset-2 col-md-8">
        <div class="well bs-component">
            <form name="resetPasswordForm" id="resetPasswordForm" method="post">
                <div class="form-group label-floating" show-errors>
                    <label class="control-label" for="password">New Password</label>
                    <input class="form-control" id="password" name="password" ng-model="formData.password"
                           type="password" required>

                    <p class="help-block" ng-if="resetPasswordForm.password.$error.required">Password cannot
                        be left blank.</p>
                </div>

                <div class="form-group label-floating" show-errors>
                    <label class="control-label" for="confPassword">Confirm Password</label>
                    <input class="form-control" id="confPassword" name="confPassword" ng-model="formData.confPassword"
                           type="password" required>

                    <p class="help-block" ng-if="resetPasswordForm.confPassword.$error.required">Confirm Password cannot
                        be left blank.</p>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="javascript:void(0)" ng-click="resetPassword(resetPasswordForm)"
                               class="btn btn-raised btn-primary btn-block">Submit</a>
                        </div>
                        <div class="col-md-6">
                            <a href="javascript:void(0)" ng-click="resetResetPasswordForm()"
                               class="btn btn-raised btn-default btn-block">Reset</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{formData}}