<div class="row" style="margin-top: 1%">
    <h1 class="titleHeading">Create new item here...</h1>

    <div class="col-md-offset-1 col-md-10">
        <div class="well bs-component">
            <form name="addItemForm" id="addItemForm">
                <div class="form-group label-floating" show-errors>
                    <label class="control-label" for="description">Description</label>
                    <textarea class="form-control" id="description" name="description"
                              ng-model="formData.description" required></textarea>

                    <p class="help-block" ng-if="addItemForm.description.$error.required">Description field cannot be
                        left
                        blank.</p>
                </div>

                <div class="form-group label-floating" show-errors>
                    <label class="control-label" for="amount">Amount</label>
                    <input class="form-control" id="amount" name="amount" type="number" ng-model="formData.amount"
                           min="0" required>

                    <p class="help-block" ng-if="addItemForm.amount.$error.required">Amount field cannot be left
                        blank.</p>
                </div>

                <div class="form-group label-floating" show-errors>
                    <label class="control-label" for="amount">Paid By</label>
                    <select name="paidBy" id="paidBy" ng-model="formData.paidBy" class="form-control" required>
                        <option style="display:none" value="">Select friend who paid the expense...</option>
                        <option ng-repeat="option in formData.members" value="{{option}}">{{option}}</option>
                    </select>

                    <p class="help-block" ng-if="addItemForm.paidBy.$error.required">Paid By field cannot be left
                        blank.</p>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="javascript:void(0)" ng-click="submitAddItemForm(addItemForm)"
                               class="btn btn-raised btn-primary btn-block">Create</a>
                        </div>

                        <div class="col-md-6">
                            <a href="javascript:void(0)" ng-click="resetAddItemForm()"
                               class="btn btn-raised btn-default btn-block">Reset</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>