<div class="row" style="margin-top: 4%">
    <a href="events.html#/add" class="btn btn-primary btn-fab"
       data-toggle="tooltip"
       title="Add New Event" data-placement="bottom" tooltip><i class="material-icons">add</i></a>
    <div class="col-md-offset-1 col-md-10">
        <div class="row">
            <div class="col-md-9">
                <h1 class="titleHeadingSearch">All events available for you are here...</h1>
            </div>

            <div class="col-md-3 pull-right">
                <div class="form-group label-floating">
                    <label class="control-label" for="search">Search Events Here</label>
                    <input class="form-control" id="search" name="search" type="search" ng-model="searchEvent">
                </div>
            </div>
        </div>
        <div class="well bs-component">
            <div ng-if="eventList.result == 'SUCCESS'">
                <table class="table table-responsive table-hover" ng-hide="!eventList.events.length">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Date Created</th>
                        <th>Title</th>
                        <th>Owner</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="event in eventList.events | filter:searchEvent">
                        <td ng-bind="$index+1"></td>
                        <td ng-bind="event.dateCreated | date : 'MMM dd, yyyy @ hh:mma'"></td>
                        <td ng-bind="event.title"></td>
                        <td ng-bind="event.owner"></td>
                        <td>
                            <a href="events.html#/view/{{event.eventId}}"
                               class="text-success" data-toggle="tooltip"
                               title="View Event Details" data-placement="bottom" tooltip><i
                                    class="material-icons">explore</i>
                            </a> |
                            <a href="events.html#/edit/{{event.eventId}}"
                               class="text-warning" data-toggle="tooltip"
                               title="Edit Event Details" data-placement="bottom" tooltip><i
                                    class="material-icons">mode_edit</i></a> |
                            <a href="javascript:void(0)" ng-click="delete(event.eventId,$index)" class="text-danger"
                               data-toggle="tooltip" title="Delete Event"
                               data-placement="bottom" tooltip><i class="material-icons">delete</i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <h3 ng-show="!eventList.events.length" class="alert alert-info"><i
                        class="material-icons">warning</i> There are no events available now. Please add some to get started.
                </h3>
            </div>

            <div ng-if="eventList.result == 'ERROR'">
                <div class="alert alert-danger">
                    <p ng-bind="eventList.message"></p>
                </div>
            </div>
        </div>
    </div>
</div>