<br/><br/>
<div><img src="images/notification_bell.png" class="img img-responsive img-rounded imgCenter"></div><br/>
<h2 class="text-center" ng-bind="message?message:'Something went wrong. Please try again later.'"></h2><br/>
<div class="row">
    <div class="col-md-offset-2 col-md-4">
        <a href="events.html#/" class="btn btn-raised btn-primary btn-block">Go to Home</a>
    </div>
    <div class="col-md-4">
        <a href="events.html#/login" class="btn btn-raised btn-info btn-block">Log In</a>
    </div>
</div>